h2 {
  text-align: center;
  margin-top: 40px;
}

form {
  width: 350px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

label {
  width: 90px;   
}

input {
  flex: 1;       
  padding: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
}